table {
    margin-left: -15px;
}

td {
    border: 1px solid #979cd7;
}

td {
    height: 40px;
    width: 40px;
}

tr th {
    text-align: center;
}

.ship, .count-ship, .block-ship {
    display: inline-block;
}

.row-n {
    text-align: center;
    border: none;
    padding-left: 15px;
    font-weight: bold;
}

/*.block-ship {*/
    /*height: 40px;*/
    /*width: 40px;*/
    /*background: black;*/
    /*border-left: 1px solid #8573ff;*/
    /*border-right: 1px solid #8573ff;*/
/*}*/

.block-ship-table {
    background: rgba(9, 0, 255, 0.67);
}


#opponent-table-ship .corrupted, .victory {
    background: red;
    clip-path: polygon(10% 0%, 0% 10%, 40% 50%, 0% 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0%, 50% 40%);
}

#opponent-table-ship .dead {
    background: #b90000;
}

#my-table-ship .corrupted, .victory, .dead {
    background: red;
}

.past {
    background: #b2b2b2;
    clip-path: circle(3px at 50% 50%);
}

.count-ship {
    font-size: 30px;
}

.hide-field {
    opacity: 0.5;
}

.info {
    position: absolute;
}

h3, p {
    margin-top: 0;
}

#two-field {
    display: none;
}

.panel-bar {
    height: 20px;
    text-align: left;
    font-size: 16px;
}

.panel-bar span {
    padding-left: 30px;
}

.user {
    font-size: 18px;
    color: gray;
    cursor: pointer;
    padding-bottom: 15px;
}

.user:hover {
    color: black;
}

input[name=chat] {
    width: calc(100% - 50px);
}

.messages {
    min-height: 10px;
    text-align: left;
    background: ghostwhite;
    margin-top: -4px;
    padding-top: 5px;
}

.item-chat {
    color: #505050;
    padding-left: 20px;
    margin-bottom: 3px;
}

#tablo {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    width: 300px;
    background-color: #f7f7f7;
    padding: 5px 10px 5px 10px;
    margin: 20px 0 20px 0;
}

/*.fixed {*/
    /*position: fixed;*/
    /*top: 30px;*/
    /*left: 10px;*/
/*}*/