<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Морской бой</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url('styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="text-align: center; padding-bottom: 50px" class="container">
    <div class="row">
        <div class="panel-bar">
            <span>Вы зашли как <a id="nickname">{{ nickname }}</a>. <a href="/logout/">Выйти</a></span>
            <span><a href="/score/">Статистика</a></span>
        </div>
    </div>
    <div class="row">
        <div id="my" class="col-lg-6">
            <h3 class="start-info">Ваше поле</h3>
            <h3 hidden class="game-info">Ход соперника</h3>
            <p class="start">Расположите ваши корабли по классическим правилам морского боя. <br>
                <b>1 шт.</b> - 4х палубный, <b>2 шт</b>. - 3х палубные, <b>3 шт</b>. - 2х палубные, <b>4 шт</b>. - одно палубные.
                <br>
                Нажмите на кнопку <b>"Готов"</b>, чтобы выйти в онлайн.
            </p>
            <p hidden class="middle-info">
                <b>Вы в сети.</b> Ждите, пока вам кинут бой, либо сами выберите себе соперника.
            </p>
            <p hidden class="game-info">
                У соперника осталось <b id="opponent-time"></b> сек. на ход
            </p>
            <div>
                <table style="display: inline-block" class="" id="my-table-ship">
                    <tr>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                        <th>E</th>
                        <th>F</th>
                        <th>G</th>
                        <th>H</th>
                        <th>K</th>
                        <th>L</th>
                    </tr>
                    <tr>
                        <th class="row-n">1</th>
                        <td id="0A"></td>
                        <td id="0B"></td>
                        <td id="0C"></td>
                        <td id="0D"></td>
                        <td id="0E"></td>
                        <td id="0F"></td>
                        <td id="0G"></td>
                        <td id="0H"></td>
                        <td id="0K"></td>
                        <td id="0L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">2</th>
                        <td id="1A"></td>
                        <td id="1B"></td>
                        <td id="1C"></td>
                        <td id="1D"></td>
                        <td id="1E"></td>
                        <td id="1F"></td>
                        <td id="1G"></td>
                        <td id="1H"></td>
                        <td id="1K"></td>
                        <td id="1L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">3</th>
                        <td id="2A"></td>
                        <td id="2B"></td>
                        <td id="2C"></td>
                        <td id="2D"></td>
                        <td id="2E"></td>
                        <td id="2F"></td>
                        <td id="2G"></td>
                        <td id="2H"></td>
                        <td id="2K"></td>
                        <td id="2L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">4</th>
                        <td id="3A"></td>
                        <td id="3B"></td>
                        <td id="3C"></td>
                        <td id="3D"></td>
                        <td id="3E"></td>
                        <td id="3F"></td>
                        <td id="3G"></td>
                        <td id="3H"></td>
                        <td id="3K"></td>
                        <td id="3L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">5</th>
                        <td id="4A"></td>
                        <td id="4B"></td>
                        <td id="4C"></td>
                        <td id="4D"></td>
                        <td id="4E"></td>
                        <td id="4F"></td>
                        <td id="4G"></td>
                        <td id="4H"></td>
                        <td id="4K"></td>
                        <td id="4L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">6</th>
                        <td id="5A"></td>
                        <td id="5B"></td>
                        <td id="5C"></td>
                        <td id="5D"></td>
                        <td id="5E"></td>
                        <td id="5F"></td>
                        <td id="5G"></td>
                        <td id="5H"></td>
                        <td id="5K"></td>
                        <td id="5L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">7</th>
                        <td id="6A"></td>
                        <td id="6B"></td>
                        <td id="6C"></td>
                        <td id="6D"></td>
                        <td id="6E"></td>
                        <td id="6F"></td>
                        <td id="6G"></td>
                        <td id="6H"></td>
                        <td id="6K"></td>
                        <td id="6L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">8</th>
                        <td id="7A"></td>
                        <td id="7B"></td>
                        <td id="7C"></td>
                        <td id="7D"></td>
                        <td id="7E"></td>
                        <td id="7F"></td>
                        <td id="7G"></td>
                        <td id="7H"></td>
                        <td id="7K"></td>
                        <td id="7L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">9</th>
                        <td id="8A"></td>
                        <td id="8B"></td>
                        <td id="8C"></td>
                        <td id="8D"></td>
                        <td id="8E"></td>
                        <td id="8F"></td>
                        <td id="8G"></td>
                        <td id="8H"></td>
                        <td id="8K"></td>
                        <td id="8L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">10</th>
                        <td id="9A"></td>
                        <td id="9B"></td>
                        <td id="9C"></td>
                        <td id="9D"></td>
                        <td id="9E"></td>
                        <td id="9F"></td>
                        <td id="9G"></td>
                        <td id="9H"></td>
                        <td id="9K"></td>
                        <td id="9L"></td>
                    </tr>
                </table>
            </div>
            <div style="margin-bottom: 40px" class="start">
                <p>
                    <a style="cursor: pointer" id="reset">Очистить поле</a>
                </p>
                <p>
                    <button id="run-game">Готов!</button>
                </p>
            </div>
        </div>
        <div hidden class="col-lg-6 middle-info">
            <h3>Ожидающие игроки</h3>
            <p>Выберите нужного вам соперника и нажмите на него</p>
            <div class="list-online">

            </div>
        </div>
        <div hidden id="two-field" class="col-lg-6">
            <h3>Ваш ход</h3>
            <p class="game-info">
                У вас осталось <b id="my-time"></b> сек. на ход
            </p>
            <div>
                <table style="display: inline-block" id="opponent-table-ship">
                    <tr>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                        <th>E</th>
                        <th>F</th>
                        <th>G</th>
                        <th>H</th>
                        <th>K</th>
                        <th>L</th>
                    </tr>
                    <tr>
                        <th class="row-n">1</th>
                        <td id2="0A"></td>
                        <td id2="0B"></td>
                        <td id2="0C"></td>
                        <td id2="0D"></td>
                        <td id2="0E"></td>
                        <td id2="0F"></td>
                        <td id2="0G"></td>
                        <td id2="0H"></td>
                        <td id2="0K"></td>
                        <td id2="0L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">2</th>
                        <td id2="1A"></td>
                        <td id2="1B"></td>
                        <td id2="1C"></td>
                        <td id2="1D"></td>
                        <td id2="1E"></td>
                        <td id2="1F"></td>
                        <td id2="1G"></td>
                        <td id2="1H"></td>
                        <td id2="1K"></td>
                        <td id2="1L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">3</th>
                        <td id2="2A"></td>
                        <td id2="2B"></td>
                        <td id2="2C"></td>
                        <td id2="2D"></td>
                        <td id2="2E"></td>
                        <td id2="2F"></td>
                        <td id2="2G"></td>
                        <td id2="2H"></td>
                        <td id2="2K"></td>
                        <td id2="2L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">4</th>
                        <td id2="3A"></td>
                        <td id2="3B"></td>
                        <td id2="3C"></td>
                        <td id2="3D"></td>
                        <td id2="3E"></td>
                        <td id2="3F"></td>
                        <td id2="3G"></td>
                        <td id2="3H"></td>
                        <td id2="3K"></td>
                        <td id2="3L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">5</th>
                        <td id2="4A"></td>
                        <td id2="4B"></td>
                        <td id2="4C"></td>
                        <td id2="4D"></td>
                        <td id2="4E"></td>
                        <td id2="4F"></td>
                        <td id2="4G"></td>
                        <td id2="4H"></td>
                        <td id2="4K"></td>
                        <td id2="4L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">6</th>
                        <td id2="5A"></td>
                        <td id2="5B"></td>
                        <td id2="5C"></td>
                        <td id2="5D"></td>
                        <td id2="5E"></td>
                        <td id2="5F"></td>
                        <td id2="5G"></td>
                        <td id2="5H"></td>
                        <td id2="5K"></td>
                        <td id2="5L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">7</th>
                        <td id2="6A"></td>
                        <td id2="6B"></td>
                        <td id2="6C"></td>
                        <td id2="6D"></td>
                        <td id2="6E"></td>
                        <td id2="6F"></td>
                        <td id2="6G"></td>
                        <td id2="6H"></td>
                        <td id2="6K"></td>
                        <td id2="6L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">8</th>
                        <td id2="7A"></td>
                        <td id2="7B"></td>
                        <td id2="7C"></td>
                        <td id2="7D"></td>
                        <td id2="7E"></td>
                        <td id2="7F"></td>
                        <td id2="7G"></td>
                        <td id2="7H"></td>
                        <td id2="7K"></td>
                        <td id2="7L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">9</th>
                        <td id2="8A"></td>
                        <td id2="8B"></td>
                        <td id2="8C"></td>
                        <td id2="8D"></td>
                        <td id2="8E"></td>
                        <td id2="8F"></td>
                        <td id2="8G"></td>
                        <td id2="8H"></td>
                        <td id2="8K"></td>
                        <td id2="8L"></td>
                    </tr>
                    <tr>
                        <th class="row-n">10</th>
                        <td id2="9A"></td>
                        <td id2="9B"></td>
                        <td id2="9C"></td>
                        <td id2="9D"></td>
                        <td id2="9E"></td>
                        <td id2="9F"></td>
                        <td id2="9G"></td>
                        <td id2="9H"></td>
                        <td id2="9K"></td>
                        <td id2="9L"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px" hidden class="row game-info">
        <div class="col-lg-12">
            <div>
                <input name="chat" placeholder="Введите сообщение сопернику" type="text"><button style="width: 50px" name="chat"> >> </button>
            </div>
            <div class="messages">
                <p class="item-chat">
                </p>
            </div>
        </div>
    </div>
</div>
<audio id="past" onclick="this.play()" src="/static/sounds/gun.mp3"></audio>
<div id="audio"></div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ static_url('scripts.js') }}"></script>
</html>
