<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WS</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url('css.css') }}">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Нераспределенные корабли</h3>
            <div>
                <div class="ship">
                    <div class="block-ship"></div><div class="block-ship"></div><div class="block-ship"></div><div class="block-ship"></div>
                </div>
                <div id="4-deck" class="count-ship">
                    1
                </div>
            </div>
            <div>
                <div class="ship">
                    <div class="block-ship"></div><div class="block-ship"></div><div class="block-ship"></div>
                </div>
                <div id="3-deck" class="count-ship">
                    2
                </div>
            </div>
            <div>
                <div class="ship">
                    <div class="block-ship"></div><div class="block-ship"></div>
                </div>
                <div id="2-deck" class="count-ship">
                    3
                </div>
            </div>
            <div>
                <div class="ship">
                    <div class="block-ship"></div>
                </div>
                <div id="1-deck" class="count-ship">
                    4
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <table id="table-ship">
                <tr>
                    <th></th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    <th>K</th>
                    <th>L</th>
                </tr>
                <tr>
                    <td class="row-n">1</td>
                    <td id="0A"></td>
                    <td id="0B"></td>
                    <td id="0C"></td>
                    <td id="0D"></td>
                    <td id="0E"></td>
                    <td id="0F"></td>
                    <td id="0G"></td>
                    <td id="0H"></td>
                    <td id="0K"></td>
                    <td id="0L"></td>
                </tr>
                <tr>
                    <td class="row-n">2</td>
                    <td id="1A"></td>
                    <td id="1B"></td>
                    <td id="1C"></td>
                    <td id="1D"></td>
                    <td id="1E"></td>
                    <td id="1F"></td>
                    <td id="1G"></td>
                    <td id="1H"></td>
                    <td id="1K"></td>
                    <td id="1L"></td>
                </tr>
                <tr>
                    <td class="row-n">3</td>
                    <td id="2A"></td>
                    <td id="2B"></td>
                    <td id="2C"></td>
                    <td id="2D"></td>
                    <td id="2E"></td>
                    <td id="2F"></td>
                    <td id="2G"></td>
                    <td id="2H"></td>
                    <td id="2K"></td>
                    <td id="2L"></td>
                </tr>
                <tr>
                    <td class="row-n">4</td>
                    <td id="3A"></td>
                    <td id="3B"></td>
                    <td id="3C"></td>
                    <td id="3D"></td>
                    <td id="3E"></td>
                    <td id="3F"></td>
                    <td id="3G"></td>
                    <td id="3H"></td>
                    <td id="3K"></td>
                    <td id="3L"></td>
                </tr>
                <tr>
                    <td class="row-n">5</td>
                    <td id="4A"></td>
                    <td id="4B"></td>
                    <td id="4C"></td>
                    <td id="4D"></td>
                    <td id="4E"></td>
                    <td id="4F"></td>
                    <td id="4G"></td>
                    <td id="4H"></td>
                    <td id="4K"></td>
                    <td id="4L"></td>
                </tr>
                <tr>
                    <td class="row-n">6</td>
                    <td id="5A"></td>
                    <td id="5B"></td>
                    <td id="5C"></td>
                    <td id="5D"></td>
                    <td id="5E"></td>
                    <td id="5F"></td>
                    <td id="5G"></td>
                    <td id="5H"></td>
                    <td id="5K"></td>
                    <td id="5L"></td>
                </tr>
                <tr>
                    <td class="row-n">7</td>
                    <td id="6A"></td>
                    <td id="6B"></td>
                    <td id="6C"></td>
                    <td id="6D"></td>
                    <td id="6E"></td>
                    <td id="6F"></td>
                    <td id="6G"></td>
                    <td id="6H"></td>
                    <td id="6K"></td>
                    <td id="6L"></td>
                </tr>
                <tr>
                    <td class="row-n">8</td>
                    <td id="7A"></td>
                    <td id="7B"></td>
                    <td id="7C"></td>
                    <td id="7D"></td>
                    <td id="7E"></td>
                    <td id="7F"></td>
                    <td id="7G"></td>
                    <td id="7H"></td>
                    <td id="7K"></td>
                    <td id="7L"></td>
                </tr>
                <tr>
                    <td class="row-n">9</td>
                    <td id="8A"></td>
                    <td id="8B"></td>
                    <td id="8C"></td>
                    <td id="8D"></td>
                    <td id="8E"></td>
                    <td id="8F"></td>
                    <td id="8G"></td>
                    <td id="8H"></td>
                    <td id="8K"></td>
                    <td id="8L"></td>
                </tr>
                <tr>
                    <td class="row-n">10</td>
                    <td id="9A"></td>
                    <td id="9B"></td>
                    <td id="9C"></td>
                    <td id="9D"></td>
                    <td id="9E"></td>
                    <td id="9F"></td>
                    <td id="9G"></td>
                    <td id="9H"></td>
                    <td id="9K"></td>
                    <td id="9L"></td>
                </tr>
            </table>
            <button>Проверить и сохранить</button>
        </div>
    </div>
</div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ static_url('scripts.js') }}"></script>
</html>
