<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Морской бой</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url('styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="text-align: center; padding-bottom: 50px" class="container">
    <div class="row">
        <div class="panel-bar">
            <span>Вы зашли как <a id="nickname">{{ nickname }}</a>. <a href="/logout/">Выйти</a></span>
            <span><a href="/score/">Статистика</a></span>
        </div>
    </div>
    <div style="height: 60px" class="row">
        <div class="fixed" id="tablo">
            Подготовка к игре
        </div>
    </div>
    <div class="row">
        <div id="my" class="col-lg-6">
            <h3 class="start-info">Ваше поле</h3>
            <h3 hidden class="game-info">Ход соперника</h3>
            <p class="start">Расположите ваши корабли по классическим правилам морского боя. <br>
                <b>1 шт.</b> - 4х палубный, <b>2 шт</b>. - 3х палубные, <b>3 шт</b>. - 2х палубные, <b>4 шт</b>. - одно палубные.
                <br>
                Нажмите на кнопку <b>"Готов"</b>, чтобы выйти в онлайн.
            </p>
            <p hidden class="middle-info">
                <b>Вы в сети.</b> Ждите, пока вам кинут бой, либо сами выберите себе соперника.
            </p>
            <p hidden class="game-info">
                У соперника осталось <b id="opponent-time"></b> сек. на ход
            </p>
            <div>
                <table style="display: inline-block" class="" id="my-table-ship">
                    <tr>
                        <th></th>
                        {% for letter in 'ABCDEFGHKL' %}
                            <th>{{ letter }}</th>
                        {% end %}
                    </tr>
                    {% for n, row in enumerate(coordinates, start=1) %}
                    <tr>
                        <th class="row-n">{{ n }}</th>
                        {% for cell in row %}
                            <td id="{{ cell }}"></td>
                        {% end %}
                    </tr>
                    {% end %}
                </table>
            </div>
            <div style="margin-bottom: 40px" class="start">
                <p>
                    <a style="cursor: pointer" id="reset">Очистить поле</a>
                </p>
                <p>
                    <button id="run-game">Готов!</button>
                </p>
            </div>
        </div>
        <div hidden class="col-lg-6 middle-info">
            <h3>Ожидающие игроки</h3>
            <p>Выберите нужного вам соперника и нажмите на него</p>
            <div class="list-online">

            </div>
        </div>
        <div hidden id="two-field" class="col-lg-6">
            <h3>Ваш ход</h3>
            <p class="game-info">
                У вас осталось <b id="my-time"></b> сек. на ход
            </p>
            <div>
                <table style="display: inline-block" id="opponent-table-ship">
                    <tr>
                        <th></th>
                        {% for letter in 'ABCDEFGHKL' %}
                            <th>{{ letter }}</th>
                        {% end %}
                    </tr>
                    {% for n, row in enumerate(coordinates, start=1) %}
                    <tr>
                        <th class="row-n">{{ n }}</th>
                        {% for cell in row %}
                            <td id2="{{ cell }}"></td>
                        {% end %}
                    </tr>
                    {% end %}
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px" hidden class="row game-info">
        <div class="col-lg-12">
            <div>
                <input name="chat" placeholder="Введите сообщение сопернику" type="text"><button style="width: 50px" name="chat"> >> </button>
            </div>
            <div class="messages">
                <p class="item-chat">
                </p>
            </div>
        </div>
    </div>
</div>
{#<audio id="past" preload="auto" onclick="this.play()" src="/static/sounds/gun.mp3"></audio>#}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
<script src="{{ static_url('scripts.js') }}"></script>
</html>
