<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: 'Neucha', cursive;
        }
    </style>
</head>
<body>
<div style="margin-bottom: 100px" class="container">
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h3 style="text-align: center">ТОП</h3>
            <table style="font-size: 18px" class="table">
                <thead>
                <tr style="color: gray">
                    <th>№</th>
                    <th>ИМЯ</th>
                    <th>ПОБ.</th>
                    <th>ПОР.</th>
                    <th>ВЫХ.</th>
                    <th>ИГРЫ</th>
                </tr>
                </thead>
                <tbody>
                {% for n, score in enumerate(scores, start=1) %}
                <tr style="text-align: center">
                    <td>{{ n }}</td>
                    <th scope="row">{{ score.score[0].username }}</th>
                    <td style="color: #00cd00">{{ score.win }}</td>
                    <td style="color: red">{{ score.lose }}</td>
                    <td style="color: gray">{{ score.out }}</td>
                    <td>{{ score.games }}</td>
                </tr>
                {% end %}
                </tbody>
            </table>
            <div style="text-align: center">
                <button class="btn btn-info" onclick="location.href='/'">Назад</button>
            </div>
        </div>
    </div>
</div>

</body>